<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency Converter - Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<nav>
       <ul>
          <li>Currency Converter</li>
          <li><a th:href="@{/login}">Login User</a></li>
          <li><a th:href="@{/registration}">Register New User</a></li>
          <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav> 
    <div align="center" class="form-style-8">
	<h2>History</h2>
		
	
	<table>
	<thead>
        <tr>
            <th></th>
            <th></th>

        </tr>
    </thead>
	
	 <tbody>
		<tr>
<td/>
<td/>
		  	
		</tr>
		 </tbody>
	</table>
    
    </div>
</body>
</html>